<%- include("includes/head.ejs") %>
<h1 class="text-3xl font-bold">Last Products</h1>
<div id="products" class="flex flex-wrap py-5 gap-5">
  <%- include("./components/product-card.ejs") %> <%-
  include("./components/product-card.ejs") %> <%-
  include("./components/product-card.ejs") %> <%-
  include("./components/product-card.ejs") %>
</div>
<%- include("includes/end.ejs") %>
